<div class="section">
    <h1>Senha</h1>
    <form [formGroup]="passwordForm">
        <div class="control">
            <label>Senha</label>
            <input type="password" formControlName="password" />
        </div>
        <div class="control">
            <label>Confirmação</label>
            <input type="password" formControlName="confirmation" />
        </div>
        <div class="control">
            <input type="submit" class="right" (click)="changePassword()" value="Alterar Senha" [disabled]="!passwordForm.valid" />
            <button class="btn-secondary right" (click)="cancel()">Cancelar</button>
        </div>
    </form>
</div>